#loadingBox{
	text-align: center;
}

#loadingBoxHtml{
	text-align: center;
	position: relative;
	bottom: 150px;
}

.templatedisplay_hidden{
	display: none;
}
#templatedisplay_templateBox{
	overflow: auto;
	color: gray;
}

.templatedisplay_loop{
	background: #fff;
	color: #333;
}

#templatedisplay_html textarea{
	width: 99%;
	height: 400px;
}

#templatedisplay_mapping label.templatedisplay_block{
	display: block;
}

#templatedisplay_configuration{
	height: 200px;
}

.templatedisplay_component{
	margin-bottom: 20px;
	width: 200px;
}

#templatedisplay_jsonBox *{
	vertical-align: middle;
}

#templatedisplay_json{
	width:100%;
	height: 200px;
}

#templatedisplay_cellLeft{
	border-right: 1px dotted black;
}

.mapping_pictogrammBox{
	position: relative;
	line-height: 2;
}

.mapping_pictogramm1{
	position: absolute;
	bottom: 12px;
	right: 5px;
}

.mapping_pictogramm2{
	position: absolute;
	bottom: 12px;
	right: -10px;
}
