<table class="typo3-dyntabmenu" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td class="tabact" nowrap="nowrap">
				<a id="templatedisplay_tab1" onclick="this.blur(); return false;" href="#">###MAPPING###</a>
			</td>
			<td class="tab" nowrap="nowrap">
				<a id="templatedisplay_tab2" onclick="this.blur(); return false;" href="#">###EDIT_HTML###</a>
			</td>
		</tr>
	</tbody
</table>

<div id="templatedisplay_html" class="templatedisplay_hidden">
	<textarea id="templatedisplay_htmlContent" name="###STORED_FIELD_NAME_TEMPLATE###">###TEMPLATE_CONTENT_SRC###</textarea>
	<div id="loadingBoxHtml" class="templatedisplay_hidden">
		<img src="###INFOMODULE_PATH###loading.gif" alt="loading" />
	</div>
</div>

<div id="templatedisplay_mapping" class="">
	<table border="0">
		<tbody>
			<tr>
				<td id="templatedisplay_cellLeft" valign="top">
<pre id="templatedisplay_templateBox">
###TEMPLATE_CONTENT###
</pre>
				</td>
				<td id="templatedisplay_cellRight" valign="top">
					<div id="templatedisplay_fieldBox">
						<label for="templatedisplay_fields" class="templatedisplay_block">###FIELDS###</label>
						<select id="templatedisplay_fields" class="templatedisplay_component" disabled="disabled">
							<option value=""></option>
							###AVAILABLE_FIELDS###
						</select>
					</div>
					<div id="templatedisplay_typeBox" class="templatedisplay_hidden">
						<label for="templatedisplay_type" class="templatedisplay_block">###TYPES###</label>
						<select id="templatedisplay_type" class="templatedisplay_component">
							<option value="text">###TEXT###</option>
							<option value="image">###IMAGE###</option>
							<option value="linkToDetail">###LINK_TO_DETAIL###</option>
							<option value="linkToPage">###LINK_TO_PAGE###</option>
							<option value="linkToFile">###LINK_TO_FILE###</option>
							<option value="email">###EMAIL###</option>
						</select>
					</div>
					<div id="templatedisplay_configuationBox" class="templatedisplay_hidden">
						<label for="templatedisplay_configuration" class="templatedisplay_block">###CONFIGURATION###</label>
						<textarea id="templatedisplay_configuration" class="templatedisplay_component" wrap="off" style="margin-bottom: 5px"></textarea>

						<div id="templatedisplay_snippettext" class="templatedisplay_snippetBox templatedisplay_component">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines some styling value"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: TODO"/></a>
						</div>
						<div id="templatedisplay_snippetimage" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines width"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines alt / title tag"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_red.png" alt="snippet" title="snippet 3: wraps a link around the image"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_yellow.png" alt="snippet" title="snippet 4: wraps a link around the image and remove white spaces from the URL"/></a>
						</div>
						<div id="templatedisplay_snippetlinkToDetail" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines other parameters"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines other paramaters which are dynamic"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_red.png" alt="snippet" title="snippet 3: TODO"/></a>
						</div>
						<div id="templatedisplay_snippetlinkToPage" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines other parameters"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines other paramaters which are dynamic"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_red.png" alt="snippet" title="snippet 3: TODO"/></a>
						</div>
						<div id="templatedisplay_snippetlinkToFile" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<div id="templatedisplay_snippetemail" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<button id="templatedisplay_saveConfigurationBt" onclick="return false">###SAVE_FIELD_CONFIGURATION###</button>
						<!--
						<button>###INSERT_DEFAULT_CONFIGURATION###</button>
						-->
					</div>
					<div id="loadingBox" class="templatedisplay_hidden">
						<img src="###INFOMODULE_PATH###loading.gif" alt="loading" />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="templatedisplay_jsonBox">
		<input type="hidden" name="" value="" id="templatedisplay_marker"/>
		<input type="checkbox" name="" value="1" id="templatedisplay_showJson"/>
		<label for="templatedisplay_showJson">###SHOW_JSON###</label>
		<input type="checkbox" name="" value="1" id="templatedisplay_editJson" class="templatedisplay_hidden"/>
		<label for="templatedisplay_editJson" id="templatedisplay_labelEditJson"  class="templatedisplay_hidden">###EDIT_JSON###</label>
		<textarea id="templatedisplay_json" class="templatedisplay_hidden" readonly="readonly" name="###STORED_FIELD_NAME###">###STORED_FIELD_VALUE###</textarea>
	</div>
</div>
<script type="text/javascript">
	var infomodule_path = '###INFOMODULE_PATH###';
	var tx_templatedisplay_uid = '###UID###';
	var tx_templatedisplay_defaultTable = '###DEFAULT_TABLE###';
	var tx_templatedisplay_hasChanged = false;
</script>
<script id="snippettext1" type="text/plain">
<![CDATA[
wrap = <b>|</b>
case = upper="adsf"
]]>
</script>
<script id="snippettext2" type="text/plain">
<![CDATA[
# Formats a local time/date according to locale settings
strftime = %e %B %G
]]>
</script>
<script id="snippetimage1" type="text/plain">
<![CDATA[
# width - height
file.width = 100
]]>
</script>
<script id="snippetimage2" type="text/plain">
<![CDATA[
# width - height
file.width = 100
# The default value is the name of the file
altText = some text
titleText = some texte
]]>
</script>
<script id="snippetimage3" type="text/plain">
<![CDATA[
file.width = 100
stdWrap.typolink{
  parameter.field = media
  target = blank
  ATagParams = class="changeMe"
  additionalParams = &test=2
}
]]>
</script>
</script>
<script id="snippetimage4" type="text/plain">
<![CDATA[
file.width = 100
stdWrap.typolink{
  parameter.field = media
  target = blank
  # Remove white spaces in the URL
  parameter.split{
    token = /
    cObjNum = 1
    1 = TEXT
    1.current = 1
    1.rawUrlEncode = 1
    1.wrap = /|
  }
}
]]>
</script>

<script id="snippetlinkToDetail1" type="text/plain">
<![CDATA[
# parameter is mandatory value
parameter = 1
additionalParams = &tx_myext_pi1[param]=value
]]>
</script>
<script id="snippetlinkToDetail2" type="text/plain">
<![CDATA[
# parameter is mandatory value
parameter = 1
additionalParams = &tx_myext_pi1[uid]={field:uid}&tx_myext_pi1[title]={page:title}
additionalParams.insertData = 1
]]>
</script>
<script id="snippetlinkToDetail3" type="text/plain">
<![CDATA[
# Other examples are welcome. Please report them.
]]>
</script>
<script id="snippetlinkToPage1" type="text/plain">
<![CDATA[
# parameter is mandatory value
parameter = 1
additionalParams = &tx_myext_pi1[param]=value
]]>
</script>
<script id="snippetlinkToPage2" type="text/plain">
<![CDATA[
# parameter is mandatory value
parameter = 1
additionalParams = &tx_myext_pi1[uid]={field:uid}&tx_myext_pi1[title]={page:title}
additionalParams.insertData = 1
]]>
</script>
<script id="snippetlinkToPage3" type="text/plain">
<![CDATA[
# Other examples are welcome. Please report them.
]]>
</script>
<script id="snippetlinkToFile1" type="text/plain">
<![CDATA[
# Other examples are welcome. Please report them.
]]>
</script>
<script id="snippetemail1" type="text/plain">
<![CDATA[
# Define an email
parameter = email@domain.tld
# gernerates the href attribute only.
# the email can be encrypted with some global configuration settings
returnLast = url
]]>
</script>