<div id="templatedisplay_box">
	<table border="0">
		<tbody>
			<tr>
				<td id="templatedisplay_cellLeft" valign="top">
					<pre id="templatedisplay_templateBox">
						###TEMPLATE_CONTENT###
					</pre>
				</td>
				<td id="templatedisplay_cellLeft" valign="top">
					<div id="templatedisplay_fieldBox">
						<label for="templatedisplay_fields" class="templatedisplay_block">###FIELDS###</label>
						<select id="templatedisplay_fields" class="templatedisplay_component">
							<option value="">###SELECT_ONE###</option>
						</select>
					</div>
					<div id="templatedisplay_typeBox" class="templatedisplay_hidden">
						<label for="templatedisplay_type" class="templatedisplay_block">###TYPES###</label>
						<select id="templatedisplay_type" class="templatedisplay_component">
							<option value="">###SELECT_ONE###</option>
							<option value="text">###TEXT###</option>
							<option value="image">###IMAGE###</option>
						</select>
					</div>
					<div id="templatedisplay_configuationBox" class="templatedisplay_hidden">
						<label for="templatedisplay_configuration" class="templatedisplay_block">###CONFIGURATION###</label>
						<textarea id="templatedisplay_configuration" class="templatedisplay_component"></textarea>
						<button>###INSERT_DEFAULT_CONFIGURATION###</button>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<div id="templatedisplay_xmlBox">
		<input type="checkbox" name="" value="1" id="templatedisplay_showXML"/> 
		<label for="templatedisplay_showXML">###SHOW_XML###</label>
		<input type="checkbox" name="" value="1" id="templatedisplay_editXML"/> 
		<label for="templatedisplay_editXML">###EDIT_XML###</label>
		<textarea id="templatedisplay_xml" disabled="disabled"></textarea>
	</div>
<phparray>
	<field1 type="array">
		<marker>###FIELD.title###</marker>
		<field>pages.title</field>
		<type>text</type>
		<configuration></configuration>
	</field1>
	<field2 type="array">
		<marker>###FIELD.uid###</marker>
		<field>tt_content.uid</field>
		<type>text</type>
		<configuration></configuration>
	</field2>
</phparray>
	</textarea>
</div>