<div id="templatedisplay_box">
	<table border="0">
		<tbody>
			<tr>
				<td id="templatedisplay_cellLeft" valign="top">
<pre id="templatedisplay_templateBox">
###TEMPLATE_CONTENT###
</pre>
				</td>
				<td id="templatedisplay_cellLeft" valign="top">
					<div id="templatedisplay_fieldBox">
						<label for="templatedisplay_fields" class="templatedisplay_block">###FIELDS###</label>
						<select id="templatedisplay_fields" class="templatedisplay_component" disabled="disabled">
							<option value=""></option>
							###AVAILABLE_FIELDS###
						</select>
					</div>
					<div id="templatedisplay_typeBox" class="templatedisplay_hidden">
						<label for="templatedisplay_type" class="templatedisplay_block">###TYPES###</label>
						<select id="templatedisplay_type" class="templatedisplay_component">
							<option value="text">###TEXT###</option>
							<option value="image">###IMAGE###</option>
							<option value="link">###LINK_TO_DETAIL###</option>
						</select>
					</div>
					<div id="templatedisplay_configuationBox" class="templatedisplay_hidden">
						<label for="templatedisplay_configuration" class="templatedisplay_block">###CONFIGURATION###</label>
						<textarea id="templatedisplay_configuration" class="templatedisplay_component" style="margin-bottom: 5px"></textarea>

						<div id="templatedisplay_snippettext" class="templatedisplay_snippetBox templatedisplay_component">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" /></a>
						</div>
						<div id="templatedisplay_snippetimage" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" /></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" /></a>
						</div>
						<div id="templatedisplay_snippetlink" class="templatedisplay_snippetBox templatedisplay_component templatedisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" /></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" /></a>
						</div>
						<button id="templatedisplay_saveConfigurationBt" onclick="return false">###SAVE_FIELD_CONFIGURATION###</button>
						<!--
						<button>###INSERT_DEFAULT_CONFIGURATION###</button>
						-->
					</div>
					<div id="loadingBox" class="templatedisplay_hidden">
						<img src="###INFOMODULE_PATH###loading.gif" alt="loading" />
					</div>


				</td>
			</tr>
		</tbody>
	</table>
	<div id="templatedisplay_jsonBox">
		<input type="checkbox" name="" value="1" id="templatedisplay_showJson"/> 
		<label for="templatedisplay_showJson">###SHOW_JSON###</label>
		<input type="checkbox" name="" value="1" id="templatedisplay_editJson" class="templatedisplay_hidden"/> 
		<label for="templatedisplay_editJson" id="templatedisplay_labelEditJson"  class="templatedisplay_hidden">###EDIT_JSON###</label>
		<textarea id="templatedisplay_json" class="templatedisplay_hidden" readonly="readonly" name="###STORED_FIELD_NAME###">###STORED_FIELD_VALUE###</textarea>
	</div>
</div>
<script type="text/javascript">
	var infomodule_path = '###INFOMODULE_PATH###';
	var tx_templatedisplay_uid = '###UID###';
</script>
<script id="snippettexte1" type="text/plain">
<![CDATA[
wrap = <b>|</b>
case = upper="adsf"
]]>
</script>
<script id="snippetimage1" type="text/plain">
<![CDATA[
# width - height
file.width = 100
]]>
</script>
<script id="snippetimage2" type="text/plain">
<![CDATA[
# width / height
file.width = 100
# Default altText corresponds to the file name
altText = logo
titleText = logo
]]>
</script>
<script id="snippetlink1" type="text/plain">
<![CDATA[
# width / height
file.width = 100
# Default altText corresponds to the file name
altText = logo
titleText = logo
]]>
</script>
<script id="snippetlink2" type="text/plain">
<![CDATA[
# Other examples are welcome. Please report them.
]]>
</script>